# Dependencies
/node_modules
/.pnp
.pnp.*

# Production build
/dist
/build
/.next
/out

# Temporary & cache
.DS_Store
*.pem
*.log*
*.tsbuildinfo
next-env.d.ts
.temp_zip_extract/
*.zip

# Environment secrets
.env
.env.local
.env.production.local
.env.development.local
!.env.example

# Vercel
.vercel
